<a href="https://colab.research.google.com/github/marcus-santos/ifsp-carcdsi-playground/blob/main/PreProcessamento_Censo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
import pickle

## Ligando o GoogleDrive

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
caminho = '/content/drive/MyDrive/IFSP/Ciencia_Dados/Material'

Mounted at /content/drive

## Base dados - Censo

In [3]:
base_censo = pd.read_csv(caminho + '/census.csv')

## Exploração dos Dados

In [4]:
base_censo

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# age - discreto
# workclass - nominal não ordinal
# final - contínuo
# education - ordinal (pela interpretação)
# education-num - discreto
# marital-status, occupation, relationship, race, sex - nominais
# hour-per-week - discreto
# native-country - nominal
# income (classe) - ordinal

base_censo.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
base_censo.isnull().sum()

age               0
workclass         0
final-weight      0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

## Divisão entre Previsores e classe

In [8]:
base_censo.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [9]:
X_census = base_censo.iloc[:, 0:14].values

In [10]:
X_census

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [12]:
Y_census = base_censo.iloc[:, 14].values

In [13]:
Y_census

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

## Tratamento de atributos categóricos

### LabelEncoder
Transforma em números inteiros as categorias de cada atributo categórico não binário (mais de 2 categorias)

In [14]:
X_census[:,1]

array([' State-gov', ' Self-emp-not-inc', ' Private', ..., ' Private',
       ' Private', ' Self-emp-inc'], dtype=object)

In [16]:
label_encoder_teste = LabelEncoder()
teste = label_encoder_teste.fit_transform(X_census[:,1])
teste

array([7, 6, 4, ..., 4, 4, 5])

In [17]:
X_census[0]

array([39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40,
       ' United-States'], dtype=object)

In [18]:
label_enconder_workclass = LabelEncoder()
label_enconder_education = LabelEncoder()
label_enconder_marital = LabelEncoder()
label_enconder_occupation = LabelEncoder()
label_enconder_relationship = LabelEncoder()
label_enconder_race = LabelEncoder()
label_enconder_sex = LabelEncoder()
label_enconder_country = LabelEncoder()

In [19]:
X_census[:,1] = label_enconder_workclass.fit_transform(X_census[:,1])
X_census[:,3] = label_enconder_education.fit_transform(X_census[:,3])
X_census[:,5] = label_enconder_marital.fit_transform(X_census[:,5])
X_census[:,6] = label_enconder_occupation.fit_transform(X_census[:,6])
X_census[:,7] = label_enconder_relationship.fit_transform(X_census[:,7])
X_census[:,8] = label_enconder_race.fit(X_census[:,8])
X_census[:,9] = label_enconder_sex.fit_transform(X_census[:,9])
X_census[:,13] = label_enconder_country.fit_transform(X_census[:,13])

In [20]:
X_census[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, LabelEncoder(), 1, 2174, 0, 40, 39],
      dtype=object)

In [21]:
X_census

array([[39, 7, 77516, ..., 0, 40, 39],
       [50, 6, 83311, ..., 0, 13, 39],
       [38, 4, 215646, ..., 0, 40, 39],
       ...,
       [58, 4, 151910, ..., 0, 40, 39],
       [22, 4, 201490, ..., 0, 20, 39],
       [52, 5, 287927, ..., 0, 40, 39]], dtype=object)

## OneHotEncoder

Transforma em números binários (0 e 1) as categorias de cada atributo categórico não binário (mais de 2 categorias).
Cada categoria de um atributo se transforma em uma nova coluna (atributo). Exemplo: atributo "workclass" com 9 categorias se transforma em 9 novos atributos. Cada linha terá valor 1 na coluna referente à categoria original e 0 nas outras colunas.

In [22]:
np.unique(base_censo['workclass'])

array([' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype=object)

In [23]:
len(np.unique(base_censo['workclass']))

9

In [24]:
len(np.unique(base_censo['occupation']))

15

In [25]:
# as outras colunas serão apagadas
onehotencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [1,3,5,6,7,8,9,13])], remainder='passthrough')

In [26]:
X_census = onehotencoder.fit_transform(X_census).toarray()

In [27]:
X_census

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 2.1740e+03, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.3000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.5024e+04, 0.0000e+00,
        4.0000e+01]])

In [28]:
X_census.shape

(32561, 104)

## Escalonamento dos valores

De: Valores com escalas diferentes (ex: age 17-90, education-num 1-16, hour-per-week 1-99)
Para: valores com médias próximas de 0 e desvios padrão próximos de 1.

In [29]:
scaler_census = StandardScaler()
X_census = scaler_census.fit_transform(X_census)

In [30]:
X_census[0]

array([-0.2444502 , -0.17429511, -0.26209736, -0.01466381, -1.5167923 ,
       -0.18838933, -0.29093568,  4.90769968, -0.02073999, -0.17175325,
       -0.19348662, -0.11609195, -0.07201601, -0.10164955, -0.1422718 ,
       -0.12664495, -0.18406376, -0.21053433,  2.25399324, -0.11334387,
       -0.68994199, -0.23637391, -0.03960742, -0.13419553, -0.53714425,
       -0.39750806, -0.02658695, -0.92284068, -0.11403678,  1.43105786,
       -0.1802846 , -0.17735813, -0.24494366,  2.76348874, -0.01662771,
       -0.37949517, -0.37774555, -0.17745022, -0.20957797, -0.25595432,
       -0.33554133, -0.06780164, -0.38166338, -0.14260848, -0.35531609,
       -0.17127887, -0.22710355, -0.82533335,  1.70899099, -0.17624972,
       -0.42934582, -0.34403232, -0.22492681,  0.        , -0.70307135,
        0.70307135, -0.13502327, -0.02416321, -0.06107342, -0.0480488 ,
       -0.04260602, -0.05409379, -0.04641598, -0.02933708, -0.05714946,
       -0.05264698, -0.02985682, -0.06500204, -0.02985682, -0.04437806,
       -0.03678503, -0.00554189, -0.01998525, -0.02479131, -0.01998525,
       -0.05550333, -0.03636406, -0.02715919, -0.04740236, -0.04993839,
       -0.04367781, -0.02351838, -0.1419344 , -0.03233087, -0.02073999,
       -0.03087016, -0.07821827, -0.04296623, -0.03372864, -0.05927412,
       -0.01920091, -0.0496284 , -0.03960742, -0.02351838, -0.02416321,
        0.34095391, -0.04540836, -0.02217266,  0.03067056, -1.06361075,
        1.13473876,  0.1484529 , -0.21665953, -0.03542945])

## Divisão da base em treinamento e teste

In [31]:
X_census_treinamento, X_census_teste, Y_census_treinamento, Y_census_teste = train_test_split(X_census, Y_census, test_size=0.15, random_state=0)

In [32]:
X_census_treinamento.shape, Y_census_treinamento.shape

((27676, 104), (27676,))

In [33]:
X_census_teste.shape, Y_census_teste.shape

((4885, 104), (4885,))

## Salvar as variáveis

In [34]:
with open(caminho + '/census.pkl', mode='wb') as f:
  pickle.dump([X_census_treinamento, Y_census_treinamento, X_census_teste, Y_census_teste], f)